 @model IEnumerable<ShopConnection.AspNetUser>

<h2>Danh sách <small>tài khoản</small></h2>
<div class="panel-body">
    <!-- Begin FooTable Hiding Columns -->
    <table id="hiding-columns-example-1" class="table" data-expand-first="true">
        <thead>
            <tr>
                <th>Email</th>
                <th>UserName</th>
                <th>PhoneNumber</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Email</td>
                    <td>@item.UserName</td>
                    <td>@item.PhoneNumber</td>
                    <td><a href="@Url.Action("Edit", "AdminAccount", new { id = item.Id })">Sửa</a></td>
                    <td><a href="@Url.Action("Delete", "AdminAccount", new { id = item.Id })">Xóa</a></td>
                </tr>
            }
        </tbody>
    </table>
    <!-- End FooTable Hiding Columns -->
    <div class="dataTables_paginate paging_simple_numbers" id="datatable-buttons_paginate">
        <ul class="pagination">
            <li class="paginate_button previous disabled" id="datatable-buttons_previous">
                <a href="#" aria-controls="datatable-buttons" data-dt-idx="0" tabindex="0">Previous</a>
            </li>
            <li class="paginate_button active">
                <a href="#" aria-controls="datatable-buttons" data-dt-idx="1" tabindex="0">1</a>
            </li>
            <li class="paginate_button ">
                <a href="#" aria-controls="datatable-buttons" data-dt-idx="2" tabindex="0">2</a>
            </li>
            <li class="paginate_button ">
                <a href="#" aria-controls="datatable-buttons" data-dt-idx="3" tabindex="0">3</a>
            </li>
            <li class="paginate_button ">
                <a href="#" aria-controls="datatable-buttons" data-dt-idx="4" tabindex="0">4</a>
            </li>
            <li class="paginate_button ">
                <a href="#" aria-controls="datatable-buttons" data-dt-idx="5" tabindex="0">5</a>
            </li>
            <li class="paginate_button ">
                <a href="#" aria-controls="datatable-buttons" data-dt-idx="6" tabindex="0">6</a>
            </li>
            <li class="paginate_button next" id="datatable-buttons_next">
                <a href="#" aria-controls="datatable-buttons" data-dt-idx="7" tabindex="0">Next</a>
            </li>
        </ul>
    </div>
</div>