@model _1461467DAWEB.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}


@using (Html.BeginForm("ResetPasswordAdmin", "AdminAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Reset your password.</h4>
    <hr />
    @Html.AntiForgeryToken()
    if (Session["Messenger"] != null)
    {
        <div class="bg-danger">@Session["Messenger"]</div>
        Session.Remove("Messenger");
    }
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Mật khẩu cũ</label>
        <div class="col-md-10">
            <input type="password" name="MatKhauCu" value=""  class="form-control col-md-7 col-xs-12" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reset" />
        </div>
    </div>
}
 
