 @model  IEnumerable<ShopConnection.View_ChucVu>

<div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right top_search">
    @using (Html.BeginForm("Search", "AdminAccount", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." name="key">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Go!</button>
            </span>
        </div>
    }
</div>
<h2>Danh sách <small>tài khoản</small></h2>

<div class="panel-body">
    @if (Session["Mes"] != null)
    {
        <div class="bg-danger">@Session["Mes"]</div>
        Session.Remove("Mes");
    }
    @if (Session["Messenger"] != null)
    {
        <div class="bg-success">@Session["Messenger"]</div>
        Session.Remove("Messenger");
    }
    <!-- Begin FooTable Hiding Columns -->
    <table id="hiding-columns-example-1" class="table" data-expand-first="true">
        <thead>
            <tr>
                <th>Email</th>
                <th>UserName</th>
                <th>PhoneNumber</th>
                <th>Chức vụ</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Email</td>
                    <td>@item.UserName</td>
                    <td>@item.PhoneNumber</td>
                    <td class="text-edit"><a href="@Url.Action("Edit", "AdminAccount", new { id = item.Id })">Sửa</a></td>
                    <td class="text-delete"><a href="@Url.Action("Delete", "AdminAccount", new { id = item.Id })">Xóa</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>