
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="content">
    <div class="content-page">
        <div class="container">
            <div class="bread-crumb radius">
                <a href="#">Home</a> <span>Fashion</span>
            </div>
            <!-- End Bread Crumb -->
            <div class="row">
                <div class="col-md-9 col-sm-8 col-col-xs-12">
                    <div class="product-detail accordion-detail border radius">
                        <div class="row">
                            <div class="col-md-5 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <div class="mid">
                                        <img src="~/@Model.TenHinh" alt="" />
                                    </div>
                                    <div class="gallery-control">
                                        <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
                                        <div class="carousel">
                                            <ul>
                                                <li><a href="#" class="active"><img src="~/@Model.TenHinh" alt="" /></a></li>
                                                @foreach (var item in ViewBag.ListImg)
                                                {
                                                    <li><a href="#"><img src="~/@item.TenHinh" alt="" /></a></li>
                                                } 
                                            </ul>
                                        </div>
                                        <a href="#" class="next"><i class="fa fa-angle-left"></i></a>
                                    </div>
                                </div>
                                <!-- End Gallery -->
                                
                            </div>
                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <div class="detail-info">
                                    <h2 class="title-detail">@Model.TenSanPham</h2>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width:90%"></div>
                                    </div>
                                    <p class="desc">@Html.Raw(Model.MoTa)</p>
                                    <div class="product-price">
                                        <ins><span>@Model.Gia</span></ins>
                                    </div>
                                    <div class="available">
                                        <strong>Availability: </strong>
                                        <span class="in-stock">In Stock</span>
                                    </div>
                                    <a class="mail-to-friend" href="#">Email to a Friend</a>
                                    <div class="attr-detail attr-color">
                                        <div class="attr-title">
                                            <strong><sup>*</sup>color:</strong><span class="current-color">White</span>
                                        </div>
                                        <ul class="list-filter color-filter">
                                            <li><a href="#" data-color="Red"><span style="background:#ff596d"></span></a></li>
                                            <li><a href="#" data-color="Yellow"><span style="background:#ffdb33"></span></a></li>
                                            <li class="active"><a href="#" data-color="White"><span style="background:#ffffff"></span></a></li>
                                            <li><a href="#" data-color="Orange"><span style="background:#ffbb51"></span></a></li>
                                            <li><a href="#" data-color="Cyan"><span style="background:#80e6ff"></span></a></li>
                                            <li><a href="#" data-color="Green"><span style="background:#38cf46"></span></a></li>
                                            <li><a href="#" data-color="Purple"><span style="background:#ff8ff8"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="attr-detail attr-size">
                                        <div class="attr-title">
                                            <strong><sup>*</sup>Size:</strong><span class="current-size">M</span>
                                        </div>
                                        <ul class="list-filter size-filter">
                                            <li><a href="#">s</a></li>
                                            <li class="active"><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                            <li><a href="#">2xl</a></li>
                                        </ul>
                                    </div>
                                    <div class="detail-extralink">
                                        <div class="detail-qty border radius">
                                            <a href="#" class="qty-down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                            <span class="qty-val">1</span>
                                            <a href="#" class="qty-up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="product-extra-link2">
                                            <a class="addcart-link" href="#">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Detail Info -->
                            </div>
                        </div>
                    </div>
                    <!-- End Main Detail -->
                    <div class="product-related border radius">
                        <h2 class="title18">SẢN PHẨM LIÊN QUAN</h2>
                        <div class="product-related-slider">
                            <div class="wrap-item" data-itemscustom="[[0,1],[480,2],[980,3],[1200,4]]" data-pagination="false" data-navigation="true">
                                @foreach (var item in ViewBag.SanPhamLienQuan)
                                {
                                    <div class="item-pro-color">
                                        <div class="product-thumb">
                                            <a href="@Url.Action("Details", "Products", new {id = item.MaSanPham })" class="product-thumb-link">
                                                <img data-color="black" class="active" src="~/@item.TenHinh" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h3 class="product-title"><a href="@Url.Action("Details", "Products", new {id = item.MaSanPham })">@item.TenSanPham</a></h3>
                                            <div class="product-price">
                                                <ins><span>$360.00</span></ins>
                                                <del><span>@item.Gia</span></del>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- End Product Related -->
                </div>
                <div class="col-md-3 col-sm-4 col-col-xs-12">
                    <div class="sidebar sidebar-right">
                        <div class="list-detail-adv">
                            <div class="detail-adv">
                                <a href="#"><img class="radius wobble-horizontal" alt="" src="~/images/pro-adv1.jpg"></a>
                            </div>
                            <div class="detail-adv">
                                <a href="#"><img class="radius wobble-horizontal" alt="" src="~/images/pro-adv2.jpg"></a>
                            </div>
                            <div class="detail-adv">
                                <a href="#"><img class="radius wobble-horizontal" alt="" src="~/images/pro-adv3.jpg"></a>
                            </div>
                        </div>
                        <div class="widget widget-seller">
                            <h2 class="widget-title title14">best sellers</h2>
                            <div class="widget-content">
                                <div class="wrap-item" data-pagination="false" data-navigation="true" data-items="[[0,1]]">
                                    <div class="list-pro-seller">
                                        <div class="item-pro-seller">
                                            <div class="product-thumb">
                                                <a href="#" class="product-thumb-link"><img src="images/photos/homeware/8.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-info">
                                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                                <div class="product-price">
                                                    <ins><span>$360.00</span></ins>
                                                    <del><span>$400.00</span></del>
                                                </div>
                                                <div class="product-rate">
                                                    <div style="width:90%" class="product-rating"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-pro-seller">
                                            <div class="product-thumb">
                                                <a href="#" class="product-thumb-link"><img src="images/photos/homeware/2.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-info">
                                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                                <div class="product-price">
                                                    <ins><span>$360.00</span></ins>
                                                    <del><span>$400.00</span></del>
                                                </div>
                                                <div class="product-rate">
                                                    <div style="width:90%" class="product-rating"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-pro-seller">
                                            <div class="product-thumb">
                                                <a href="#" class="product-thumb-link"><img src="images/photos/homeware/9.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-info">
                                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                                <div class="product-price">
                                                    <ins><span>$360.00</span></ins>
                                                    <del><span>$400.00</span></del>
                                                </div>
                                                <div class="product-rate">
                                                    <div style="width:90%" class="product-rating"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-pro-seller">
                                        <div class="item-pro-seller">
                                            <div class="product-thumb">
                                                <a href="#" class="product-thumb-link"><img src="images/photos/homeware/3.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-info">
                                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                                <div class="product-price">
                                                    <ins><span>$360.00</span></ins>
                                                    <del><span>$400.00</span></del>
                                                </div>
                                                <div class="product-rate">
                                                    <div style="width:90%" class="product-rating"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-pro-seller">
                                            <div class="product-thumb">
                                                <a href="#" class="product-thumb-link"><img src="images/photos/homeware/4.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-info">
                                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                                <div class="product-price">
                                                    <ins><span>$360.00</span></ins>
                                                    <del><span>$400.00</span></del>
                                                </div>
                                                <div class="product-rate">
                                                    <div style="width:90%" class="product-rating"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-pro-seller">
                                            <div class="product-thumb">
                                                <a href="#" class="product-thumb-link"><img src="images/photos/homeware/10.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-info">
                                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                                <div class="product-price">
                                                    <ins><span>$360.00</span></ins>
                                                    <del><span>$400.00</span></del>
                                                </div>
                                                <div class="product-rate">
                                                    <div style="width:90%" class="product-rating"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End widget -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


