
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Sửa<small>Sản Phẩm</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
                {
                    <input value="@Model.MaSanPham" name="MaSanPham" type="hidden" />
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Tên sản phẩm <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="TenSanPham" placeholder="Nhập tên sản phẩm" required="required" value="@Model.TenSanPham" type="text">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                            Gia <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Gia" name="Gia" value="@Model.Gia" required="required" placeholder="Nhập giá" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                            Giảm Giá <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Gia" name="GiamGia" value="@Model.GiamGia"   placeholder="Nhập giá" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                            Hình ảnh <span class="required">*</span>
                        </label>
                       
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img style="width: 150px; display: inline-block; height: auto; " src="~/@Model.TenHinh" alt="Alternate Text" /><br/>
                            <input type="file" id="TenHinh" name="TenHinh" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                            Loại sản phẩm <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control col-md-7 col-xs-12" name="LoaiSp">
                                @foreach (var item in ViewBag.ProductType)
                                {
                                    if(Model.LoaiSp == item.MaLoaiSanPham)
                                    {
                                        <option value="@item.MaLoaiSanPham" selected="selected">
                                            @item.TenLoaiSanPham
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@item.MaLoaiSanPham">
                                            @item.TenLoaiSanPham
                                        </option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                            Hãng sản xuất <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control col-md-7 col-xs-12" name="HangSx">
                                @foreach (var item in ViewBag.Manufacturer)
                                {
                                    if (Model.HangSx == item.MaHangSanXuat)
                                    {
                                        <option value="@item.MaHangSanXuat" selected="selected">
                                            @item.TenHangSanXuat
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@item.MaHangSanXuat">
                                            @item.TenHangSanXuat
                                        </option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                            Mô tả <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea name="MoTa" class="form-control col-md-7 col-xs-12 tinymce" >@Html.Raw(Model.MoTa)</textarea>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Cancel</button>
                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
