

@model PetaPoco.Page<ShopConnection.View_lsp_hsx>



<div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right top_search">
    @using (Html.BeginForm("Search", "Product", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." name="key">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Go!</button>
            </span>
        </div>
    }
</div>
<h2>Danh sách <small>Sản Phẩm</small></h2>
<div class="panel-body">
    <!-- Begin FooTable Hiding Columns -->
    <table id="hiding-columns-example-1" class="table" data-expand-first="true">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Hình ảnh </th>
                <th>Loại sản phẩm</th>
                <th>Hãng sản xuất</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.MaSanPham</td>
                    <td>@item.TenSanPham</td>
                    <td>@item.Gia</td>
                    <td style="width: 80px; height: 80px; overflow: hidden;"><img style="display: block; max-width: 100%;" src="~/@item.TenHinh" alt=" " /></td>
                    <td>@item.TenLoaiSanPham</td>
                    <td>@item.TenHangSanXuat</td>
                    <td class="text-edit"><a href="@Url.Action("Edit", "Product", new { id = item.MaSanPham})">Sửa</a></td>
                    <td class="text-delete"><a href="@Url.Action("Delete", "Product", new { id = item.MaSanPham})">Xóa</a></td>
                </tr>
            }
        </tbody>
    </table>
    <!-- End FooTable Hiding Columns -->
    <div class="dataTables_paginate paging_simple_numbers" id="datatable-buttons_paginate">
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li class="paginate_button previous disabled" id="datatable-buttons_previous">
                    <a href="@Url.Action("Index", "Product", new { Page = Model.CurrentPage -1 })" aria-controls="datatable-buttons" data-dt-idx="0" tabindex="0">Previous</a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="paginate_button active">
                        <a href="@Url.Action("Index", "Product", new { Page = i })" aria-controls="datatable-buttons" data-dt-idx="1" tabindex="0">@i</a>
                    </li>
                }
                else
                {
                    <li class="paginate_button">
                        <a href="@Url.Action("Index", "Product", new { Page = i })" aria-controls="datatable-buttons" data-dt-idx="1" tabindex="0">@i</a>
                    </li>
                }

            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="paginate_button next" id="datatable-buttons_next">
                    <a href="@Url.Action("Index", "Product", new { Page = Model.CurrentPage + 1 })" aria-controls="datatable-buttons" data-dt-idx="7" tabindex="0">Next</a>
                </li>
            }



        </ul>
    </div>
</div>