@model IEnumerable<ShopConnection.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="product-hotdeal">
    <div class="header-hotdeal">
        <div class="container">
            <div class="title-box1">
                <h2 class="title30"><span>S</span><a href="list-product-hot-deal.html">Sản Phẩm Mới</a></h2>
                <ul class="list-none">
                    <li class="active"><a href="#hot1" data-toggle="tab">homeware</a></li>
                    <li><a href="#hot2" data-toggle="tab">makeups</a></li>
                    <li><a href="#hot3" data-toggle="tab">electronics</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Header Hotdeal -->
    <div class="content-hotdeal tab-content">
        <div id="hot1" class="tab-pane active">
            <div class="hotdeal-slider">
                <div class="wrap-item" data-itemscustom="[[0,1],[560,2],[768,3],[1024,4],[1200,5],[1366,6]]" data-pagination="false" data-autoplay="true" data-navigation="true">
                    @* show danh sach san pham ban chay *@
                    @foreach (var item in Model)
                    {
                        <div class="item-pro-hotdeal">
                            <div class="product-thumb">
                                <a href="@Url.Action("Details", "Products", new {id = item.MaSanPham })" class="product-thumb-link">
                                    <img src="~/@item.TenHinh" alt="">
                                </a>
                                <a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
                            </div>
                            <div class="product-info">
                                <h3 class="product-title"><a href="@Url.Action("Details", "Products", new {id = item.MaSanPham })">@item.TenSanPham</a></h3>
                                <div class="info-pro-hotdeal">
                                    <div class="deal-percent">
                                        <span>50</span>
                                        <sup>%</sup>
                                    </div>
                                    <div class="product-price">
                                        <del><span>$400.00</span></del>
                                        <ins><span>@item.Gia</span></ins>
                                    </div>
                                    <div class="product-rate">
                                        <div style="width:90%" class="product-rating"></div>
                                    </div>
                                </div>
                                <div class="product-extra-link2">
                                    <a href="#" class="addcart-link">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- ENd Tab -->
        
        
    </div>
    <!-- End Content Hot Deal -->
</div>


<!-- End Product Hot Deal -->
<div class="container">
    <div class="product-box1 color-red">
        <div class="title-box1">
            <h2 class="title30"><span>N</span><a href="list-boxed-banner.html">Sản Phẩm Nổi Bật</a></h2>
            <ul class="list-none">
                <li class="active"><a href="#fas1" data-toggle="tab">best sellert</a></li>
                <li><a href="#fas2" data-toggle="tab">new Products</a></li>
                <li><a href="#fas3" data-toggle="tab">special</a></li>
            </ul>
        </div>
        <!-- End Header Box -->
        <div class="content-box1 clearfix">
            <div class="banner-box1">
                <div class="banner-box">
                    <a href="#" class="link-banner-box"><img src="~/images/home1/bn1.jpg" alt="" /></a>
                    <div class="info-banner-box1 bottom white">
                        <h2>Escape with style</h2>
                        <a href="#" class="shopnow border radius white">Shop now!</a>
                    </div>
                </div>
                <div class="category-box1">
                    <ul class="list-none">
                        <li><a href="#">Shirt</a></li>
                        <li><a href="#">Short</a></li>
                        <li><a href="#">Pants</a></li>
                        <li><a href="#">Shoes</a></li>
                        <li><a href="#">Bags</a></li>
                        <li><a href="#">Sunglasses</a></li>
                        <li><a href="#">Summer Dresses</a></li>
                        <li><a href="#">Blazers</a></li>
                        <li><a href="#">Jumpsuits</a></li>
                        <li><a href="#">Blouses & Shirts</a></li>
                        <li><a href="#">Scarves</a></li>
                        <li><a href="#">Hair Accessories</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Banner -->
            
           

            
            <div class="content-pro-box1 tab-content main-left-right">
                <div id="fas1" class="clearfix tab-pane active">
                    
                 @foreach (var item in ViewBag.spnb)
                 {
                    <div class="left-box1">
                        
                        <div class="item-product1">
                            <h3 class="product-title"><a href="@Url.Action("Details", "Products", new {id = item.MaSanPham })">@item.TenSanPham</a></h3>
                            <div class="product-price">
                                <label>From:</label>
                                <ins><span>@item.Gia</span></ins>
                            </div>
                            <div class="product-thumb">
                                <a href="@Url.Action("Details", "Products", new {id = item.MaSanPham })" class="product-thumb-link">
                                    <img src="~/@item.TenHinh" alt="">
                                </a>
                                <a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
                            </div>
                            <div class="product-info">
                                <div class="product-rate">
                                    <div style="width:90%" class="product-rating"></div>
                                </div>
                                <div class="product-extra-link2">
                                    <a href="#" class="addcart-link">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                 }
                    <!-- End Left Box -->
                </div>
            </div>
        </div>
        <!-- ENd Content Box -->
    </div>
    <!-- End Product Box -->
    <div class="product-box1 color-blue">
        <div class="title-box1">
            <h2 class="title30"><span>B</span><a href="list-boxed-banner.html">Sản Phẩm Bán Chạy</a></h2>
            <ul class="list-none">
                <li class="active"><a href="#ele1" data-toggle="tab">best sellert</a></li>
                <li><a href="#ele2" data-toggle="tab">new Products</a></li>
                <li><a href="#ele3" data-toggle="tab">special</a></li>
            </ul>
        </div>
        <!-- End Header Box -->
        <div class="content-box1 clearfix">
            <div class="banner-box1">
                <div class="banner-box">
                    <a href="#" class="link-banner-box"><img src="~/images/home1/bn2.jpg" alt="" /></a>
                    <div class="info-banner-box1 top white">
                        <h2>Macbook Laptop</h2>
                        <a href="#" class="shopnow border radius white">Shop now!</a>
                    </div>
                </div>
                <div class="category-box1">
                    <ul class="list-none">
                        <li><a href="#">Mobile & Tablet</a></li>
                        <li><a href="#">Laptop</a></li>
                        <li><a href="#">Computer</a></li>
                        <li><a href="#">Mouse</a></li>
                        <li><a href="#">Smart Watches</a></li>
                        <li><a href="#">Accessories</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Banner -->
            <div class="content-pro-box1 tab-content left-main-right">
                <div id="ele1" class="clearfix tab-pane active">
                    @foreach (var item in ViewBag.spbc)
                    {
                        <div class="left-box1">
                            <div class="item-product1">
                                <h3 class="product-title"><a href="@Url.Action("Details", "Products", new {id = item.MaSanPham })">@item.TenSanPham</a></h3>
                                <div class="product-price">
                                    <label>From:</label>
                                    <ins><span>@item.Gia</span></ins>
                                </div>
                                <div class="product-thumb">
                                    <a href="@Url.Action("Details", "Products", new {id = item.MaSanPham })" class="product-thumb-link">
                                        <img src="~/@item.TenHinh" alt="">
                                    </a>
                                    <a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
                                </div>
                                <div class="product-info">
                                    <div class="product-rate">
                                        <div style="width:90%" class="product-rating"></div>
                                    </div>
                                    <div class="product-extra-link2">
                                        <a href="#" class="addcart-link">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                  
                    
                </div>
            </div>
        </div>
        <!-- ENd Content Box -->
    </div>
    <!-- End Product Box -->
    <div class="product-box1 color-maroon">
        <div class="title-box1">
            <h2 class="title30"><span>X</span><a href="list-boxed-banner.html">Sản Phẩm Xem Nhiều</a></h2>
            <ul class="list-none">
                <li class="active"><a href="#bea1" data-toggle="tab">best sellert</a></li>
                <li><a href="#bea2" data-toggle="tab">new Products</a></li>
                <li><a href="#bea3" data-toggle="tab">special</a></li>
            </ul>
        </div>
        <!-- End Header Box -->
        <div class="content-box1 clearfix">
            <div class="banner-box1">
                <div class="banner-box">
                    <a href="#" class="link-banner-box"><img src="~/images/home1/bn3.jpg" alt="" /></a>
                    <div class="info-banner-box1 top white">
                        <h2>Cosmetics ShiSeido</h2>
                        <a href="#" class="shopnow border radius white">Shop now!</a>
                    </div>
                </div>
                <div class="category-box1">
                    <ul class="list-none">
                        <li><a href="#">Lipstick</a></li>
                        <li><a href="#">Makeup</a></li>
                        <li><a href="#">Nail Polish</a></li>
                        <li><a href="#">Makeup Brushes</a></li>
                        <li><a href="#">Human Hair</a></li>
                        <li><a href="#">Clip in hair</a></li>
                        <li><a href="#">Human Hair Wigs</a></li>
                        <li><a href="#">Nail Tools</a></li>
                        <li><a href="#">Face Care</a></li>
                        <li><a href="#">Slimming Creams</a></li>
                        <li><a href="#">Synthetic Hair</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Banner -->
            <div class="content-pro-box1 tab-content left-right-main">
                <div id="bea1" class="clearfix tab-pane active">
                    @foreach (var item in ViewBag.spxn)
                    {
                        <div class="left-box1">
                            <div class="item-product1">
                                <h3 class="product-title"><a href="@Url.Action("Details", "Products", new {id = item.MaSanPham })">@item.TenSanPham</a></h3>
                                <div class="product-price">
                                    <label>From:</label>
                                    <ins><span>@item.Gia</span></ins>
                                </div>
                                <div class="product-thumb">
                                    <a href="@Url.Action("Details", "Products", new {id = item.MaSanPham })" class="product-thumb-link">
                                        <img src="~/@item.TenHinh" alt="">
                                    </a>
                                    <a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
                                </div>
                                <div class="product-info">
                                    <div class="product-rate">
                                        <div style="width:90%" class="product-rating"></div>
                                    </div>
                                    <div class="product-extra-link2">
                                        <a href="#" class="addcart-link">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    
                    <!-- End Left Box -->
                    
                    <!-- ENd Main Box -->
                </div>
                <!-- End Tab -->
              
            </div>
        </div>
        <!-- ENd Content Box -->
    </div>
    <!-- End Product Box -->
    
    <!-- End Product Box -->
    
    <!-- End Product Box -->
    <div class="testimonial">
        <div class="testimo-slider">
            <div class="wrap-item" data-itemscustom="[[0,1]]" data-pagination="true" data-navigation="false">
                <div class="item-testimo">
                    <div class="testimo-thumb">
                        <a href="#"><img src="~/images/home1/tes1.png" alt="" /></a>
                    </div>
                    <div class="testimo-info">
                        <h2 class="title14 color">Fanbong Pham</h2>
                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis dui odio, non suscipit consectetur elit. Aliquam eget sapien placerat, ultricies quam vel, consectetur sapien</p>
                    </div>
                </div>
                <div class="item-testimo">
                    <div class="testimo-thumb">
                        <a href="#"><img src="~/images/home1/tes1.png" alt="" /></a>
                    </div>
                    <div class="testimo-info">
                        <h2 class="title14 color">Meggei Tran</h2>
                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis dui odio, non suscipit consectetur elit. Aliquam eget sapien placerat, ultricies quam vel, consectetur sapien</p>
                    </div>
                </div>
                <div class="item-testimo">
                    <div class="testimo-thumb">
                        <a href="#"><img src="~/images/home1/tes1.png" alt="" /></a>
                    </div>
                    <div class="testimo-info">
                        <h2 class="title14 color">Sam Davide</h2>
                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis dui odio, non suscipit consectetur elit. Aliquam eget sapien placerat, ultricies quam vel, consectetur sapien</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonial -->
</div>

